<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="address"
		class="com.sakii209.spring_object_binding_using_ref_attribute_04_09_2019.Address">
		<property name="street" value="Bulkampet" />
		<property name="city" value="hyd" />
		<property name="state" value="Ts" />
	</bean>
	<bean class="com.sakii209.spring_object_binding_using_ref_attribute_04_09_2019.Person">
	<property name="name" value="saikiran"/>
	<property name="pid" value="209"/>
	<property name="salary" value="20000"/>
	<property name="address" ref="address"/>
	</bean>

</beans>
