<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.saki209.spring_autowire_byType_10_09_19.Person" autowire="byType">
		<property name="name" value="saikiran" />
		<property name="pid" value="209" />
	</bean>
	<bean class="com.saki209.spring_autowire_byType_10_09_19.Address">
		<property name="city" value="HYD" />
		<property name="state" value="TS" />
		<property name="street" value="Bulkempet" />
	</bean>

</beans>
