<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />

<bean class="com.saki209.spring_Required_annotation_onSetters_12_09_19.Person">
<property name="name" value="saikiran" />
<property name="pid" value="209" />
</bean>

</beans>
