<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

<bean class="com.saki209.spring_init_method_attribure_of_beanTag_12_09_19.Person" init-method="init">
<property name="name" value="saikiran"/>
<property name="pid" value="209" />

</bean>

</beans>
